h2.titulo1 {
    color: yellow;
}

h2.titulo2 {
    color: violet;
}

h2.titulo3 {
    color: green;
}

h1#teste1 {
    text-align: center;
    color: grey;
}

h1#teste2 {
    text-align: right;
    color: blue;
}